/* ESTILOS EN MOBILE */
@media only screen and (max-width: 400px) {
    .banner {
        background-image: url(../img/banner-mobile.png);
        padding: 175px 0;
        width: auto;
    }

    .banner-games {
        background-image: url(../img/banner-mob-games.png);
        background-size: cover;
        width: auto;
    }

    main {
        width: 100%;
    }

    h1 {
        margin: 15px;
        line-height: normal;
    }

    .setup_flex {
        img {
            width: 365px;
            margin: 10px auto;
        }
    }

    .button {
        margin: 10px auto;
        width: 215px;
    }

    .setup_flex {
        text-align: center;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .setup-content {
        img {
            width: 100%;
            margin: 10px 0;
        }
    }

    .menu-nav {
        ul {
            li {
                a {
                    font-size: 11px;
                }
            }
        }
    }

    .games {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 401px) and (max-width: 1024px) {

   .banner {
        background-image: url(../img/Banner_gg.png);
        padding: 35px 0;
        width: 330px;
        margin: 0 auto;
    }

    .setup_flex {
        img {
            width: 90%;
            max-width: 500px;
            margin: 20px auto;
        }
    }

    .menu-nav {
        ul {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    .button {
        width: 215px;
        margin: 20px auto;
    }

    main {
        width: 95%;
        margin: 0 auto;
    }


    .card-games {
        img {
            width: 245px;
        }
    }
    .img-setup {
        width: 350px;
    }
    .games {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .banner {
        padding: 55px 0;
        width: 560px;
    }
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}